# Consulte http://help.github.com/ignore-files/ para saber mais sobre como ignorar arquivos. 



# Dependências
fontend/node_modules 


!.vscode/extensions.json 

#SPRING BOOT
api/src/main/resources/application.properties

api/.classpath
api/.gradle/
api/.project
api/.settings/
api/bin/
api/build/
api/target/
